.bookSearch{
    height: 200px;
    width: 500px;
    padding: 5px;
    margin: auto;
    padding-top: 50px;
    margin-bottom: 100px;

}

#searchBtn{

    width: 487px;

}
.showBooks{

    margin: 30px;

}

