#login-header{
	margin-top: 50px;
}

body::after {
    content: "";
    background-image: url("Screenshot (65).png");
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

#loginPage{
	margin-top: 80px;
}

[role="form"] {
    max-width: 550px;
    padding: 15px;
    margin: 0 auto;
    background-color:#FFFF;
    border-radius: 0.3em;
    box-shadow: 3px 3px 10px 3px #888888;
}